<nav class="navbar navbar-light bg-light custom-border-bottom">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/drink-icon.svg" alt="icone" width="50" height="50">
    </a>

    <div class="button-group">
      <a type="button" class="btn btn-color" [routerLink]="['/eventos']">Eventos</a>
      <a type="button" class="btn btn-color" [routerLink]="['/bebidas']">Bebidas</a>
      <a type="button" class="btn btn-color last-button" href="#">Sair</a>
    </div>
  </div>
</nav>
