<app-navbar></app-navbar>
<div class="alert-sucesso" *ngIf="mensagemDeSucesso">
  <app-sucesso-mensagem [mensagem]="mensagemDeSucesso"></app-sucesso-mensagem>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card" id="vendas-card">
        <div class="card-body">
          <h5 class="card-title">Registrar Vendas</h5>
          <form [formGroup]="vendasForm" (ngSubmit)="registrarVenda()">
            <div class="mb-3">
              <label for="bebida" class="form-label">Bebida</label>
              <select formControlName="bebida" class="form-select" id="bebida" (change)="limparCampos()">
                <option value="" disabled selected>Selecione uma bebida</option>
                <option *ngFor="let bebida of bebidasDisponiveis" [value]="bebida.nomebebida">{{ bebida.nomebebida }}</option>
              </select>
              <small *ngIf="vendasForm.get('bebida')?.invalid && (vendasForm.get('bebida')?.dirty || vendasForm.get('bebida')?.touched)" class="text-danger">Selecione a bebida.</small>
            </div>

            <div class="mb-3">
              <label for="quantidade" class="form-label">Quantidade</label>
              <input type="number" formControlName="quantidade" class="form-control" id="quantidade" placeholder="Informe a quantidade" min="1" [max]="getMaxQuantidade()" (input)="validarQuantidade()">
              <small *ngIf="vendasForm.get('quantidade')?.invalid && (vendasForm.get('quantidade')?.dirty || vendasForm.get('quantidade')?.touched)" class="text-danger">Quantidade é obrigatória.</small>
            </div>

            <div class="mb-3">
              <label class="form-label">Forma de Pagamento</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="formaPagamento" id="pix" value="pix" name="formaPagamento">
                <label class="form-check-label" for="pix">
                  PIX
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="formaPagamento" id="cartaoCredito" value="cartao_credito" name="formaPagamento">
                <label class="form-check-label" for="cartaoCredito">
                  Cartão de Crédito
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="formaPagamento" id="cartaoDebito" value="cartao_debito" name="formaPagamento">
                <label class="form-check-label" for="cartaoDebito">
                  Cartão de Débito
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="formaPagamento" id="dinheiro" value="dinheiro" name="formaPagamento">
                <label class="form-check-label" for="dinheiro">
                  Dinheiro
                </label>
              </div>
            </div>

            <div class="vendas-button">
              <button type="submit" class="btn" [disabled]="vendasForm.invalid">Registrar Venda</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card" id="estoque-card">
        <div class="card-body">
          <h5 class="card-title">Estoque disponível para o evento:</h5>
          <ul>
            <li *ngFor="let bebida of bebidasDisponiveis">
              {{ bebida.nomebebida }} - Estoque: {{ bebida.quantidadebebida }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>





