<app-navbar></app-navbar>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div class="card" id="lista-evento-card">
        <div class="card-body">
          <h5 class="card-title">Lista de eventos</h5>
          <div class="relatorio-group">
            <button class="btn btn-relatorio" (click)="gerarRelatorio()">
              Gerar relatório
            </button>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome do Evento</th>
                <th scope="col">Data do Evento</th>
                <th scope="col">Local do Evento</th>
                <th scope="col">Bebidas / Quantidade</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let evento of eventos">
                <td>{{ evento.nomeevento }}</td>
                <td>{{ formatarData(evento.dataevento) }}</td>
                <td>{{ evento.localevento }}</td>
                <td>
                  <ul>
                    <li *ngFor="let bebida of evento.bebidas">
                      {{ bebida.nome }} - {{ bebida.quantidade }}
                    </li>
                  </ul>
                </td>
                <td class="acoes-cell">
                  <button class="btn btn-edit" (click)="editarEvento(evento.id)">
                    Editar
                  </button>
                  <button class="btn btn-delete" (click)="excluirEvento(evento.id)">
                    Excluir
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
