<app-navbar></app-navbar>
<div class="alert-sucesso" *ngIf="mensagemDeSucesso">
  <app-sucesso-mensagem [mensagem]="mensagemDeSucesso"></app-sucesso-mensagem>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div class="card" id="usuario-card">
        <div class="card-body">
          <h5 class="card-title">Lista de usuarios</h5>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Perfil de acesso</th>
                <th scope="col" *ngIf="verificacaoPermissao()">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <td>{{ usuario.nome }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.permissao }}</td>
                <td>
                  <div class="button-group" *ngIf="verificacaoPermissao()">
                    <button
                      class="btn btn-edit"
                      (click)="editarUsuario(usuario.id)"
                    >
                      Editar
                    </button>
                    <button
                      class="btn btn-delete"
                      (click)="excluirUsuario(usuario.id)"
                    >
                      Excluir
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
