.container{
  margin-top: 5%;
}

#evento-card {
  padding: 20px;

  .form-group {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 5px;
    }
  }
}

.bebidas-title{
  font-size: 20px;
  font-weight: bold;
  color: #8C52FF;
  // margin-bottom: 10%;
  margin-top: 20px;
}

.event-button {
  display: flex;
  flex-direction: row-reverse;

  button {
    background-color: #8C52FF;
    color: #fff;
    min-width: 80px;
    min-height: 35px;
  }
}

.drink-event-button{
  display: flex;
  flex-direction: row-reverse;

  button {
    background-color: #8C52FF;
    color: #fff;
    min-width: 80px;
    min-height: 35px;
  }
}

.card-title{
  font-size: 20px;
  font-weight: bold;
  color: #8C52FF;
  margin-bottom: 10%;
}

.bebida-info {
  display: flex;
  margin-top: 5px;
  align-items: center;
}

.bebida-info button {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.bebida-info:hover button {
  opacity: 1;
}

.btn-sm{
  margin-left: 10px;
  min-width: 30px;
  min-height: 30px;
  background-color: #8C52FF;
  color: #fff;
  border-color: #8C52FF;
}

.alert-sucesso{
  display: flex;
  flex-direction: row-reverse;
}

.title-remove{
  font-size: 14px;
  color: #8C52FF;
  margin-bottom: 15px;
  margin-top: 10px;
}

.text-danger {
  color: #8C52FF !important;
}
