@import '~bootstrap/dist/css/bootstrap.min.css';

body.background-image {
  background-image: url('assets/drink-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

